## Registro de consultas muy especificas

In [48]:
# 1. Listar los libros cuyo precio está entre £10 y £12. y su rating

import sqlite3
conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT libros.titulo, libros.rating, libros.precio FROM libros WHERE libros.precio >= 10 AND libros.precio <= 12"
cursor.execute(consulta)

libros = cursor.fetchall()

print('Para cuando no tengas mucha plata! Pasa a ver estos titulos')
contador = 0
for libro in libros:
    contador += 1
    print(f'{contador}. TITULO: {libro[0]}. RATING: {libro[1]}. PRECIO: {libro[2]}')

print('Fijate que hay libros con buenos ratings!')
cursor.close()
conn.close()

Para cuando no tengas mucha plata! Pasa a ver estos titulos
1. TITULO: Patience. RATING: Three. PRECIO: 10.16
2. TITULO: The Project. RATING: One. PRECIO: 10.65
3. TITULO: The Long Shadow of Small Ghosts: Murder and Memory in an American City. RATING: One. PRECIO: 10.97
4. TITULO: The Argonauts. RATING: Two. PRECIO: 10.93
5. TITULO: Miss Peregrineâs Home for Peculiar Children (Miss Peregrineâs Peculiar Children #1). RATING: One. PRECIO: 10.76
6. TITULO: Beauty Restored (Riley Family Legacy Novellas #3). RATING: Two. PRECIO: 11.11
7. TITULO: The Lucifer Effect: Understanding How Good People Turn Evil. RATING: One. PRECIO: 10.4
8. TITULO: Tastes Like Fear (DI Marnie Rome #3). RATING: One. PRECIO: 10.69
9. TITULO: Superman Vol. 1: Before Truth (Superman by Gene Luen Yang #1). RATING: Five. PRECIO: 11.89
10. TITULO: Pet Sematary. RATING: Three. PRECIO: 10.56
11. TITULO: Old School (Diary of a Wimpy Kid #10). RATING: Five. PRECIO: 11.83
12. TITULO: I Am Pilgrim (Pilgrim #1). RATING: Four. PRECIO: 10.6
13. TITULO: Greek Mythic History. RATING: Five. PRECIO: 10.23
14. TITULO: Dear Mr. Knightley. RATING: Five. PRECIO: 11.21
15. TITULO: City of Fallen Angels (The Mortal Instruments #4). RATING: Four. PRECIO: 11.23
16. TITULO: Adulthood Is a Myth: A "Sarah's Scribbles" Collection. RATING: Two. PRECIO: 10.9
17. TITULO: My Kitchen Year: 136 Recipes That Saved My Life. RATING: Two. PRECIO: 11.53
18. TITULO: The Children. RATING: Three. PRECIO: 11.88
19. TITULO: Hide Away (Eve Duncan #20). RATING: One. PRECIO: 11.84
20. TITULO: The Sleep Revolution: Transforming Your Life, One Night at a Time. RATING: Four. PRECIO: 11.68
21. TITULO: Underlying Notes. RATING: Two. PRECIO: 11.82
22. TITULO: NaNo What Now? Finding your editing process, revising your NaNoWriMo book and building a writing career through publishing and beyond. RATING: Four. PRECIO: 10.41
23. TITULO: History of Beauty. RATING: Four. PRECIO: 10.29
24. TITULO: Brilliant Beacons: A History of the American Lighthouse. RATING: Three. PRECIO: 11.45
25. TITULO: The Origin of Species. RATING: Four. PRECIO: 10.01
26. TITULO: Naturally Lean: 125 Nourishing Gluten-Free, Plant-Based Recipes--All Under 300 Calories. RATING: Five. PRECIO: 11.38
27. TITULO: The Fellowship of the Ring (The Lord of the Rings #1). RATING: Two. PRECIO: 10.27
28. TITULO: The Power Greens Cookbook: 140 Delicious Superfood Recipes. RATING: Five. PRECIO: 11.05
29. TITULO: The Darkest Corners. RATING: Five. PRECIO: 11.33
30. TITULO: The 5th Wave (The 5th Wave #1). RATING: Two. PRECIO: 11.83
31. TITULO: Remember Me?. RATING: Three. PRECIO: 11.48
32. TITULO: An Abundance of Katherines. RATING: Five. PRECIO: 10.0
33. TITULO: A Clash of Kings (A Song of Ice and Fire #2). RATING: Three. PRECIO: 10.79
34. TITULO: The Tipping Point: How Little Things Can Make a Big Difference. RATING: Two. PRECIO: 10.02
35. TITULO: The Restaurant at the End of the Universe (Hitchhiker's Guide to the Galaxy #2). RATING: One. PRECIO: 10.92
36. TITULO: Reservations for Two. RATING: Three. PRECIO: 11.1
37. TITULO: Lust & Wonder. RATING: Two. PRECIO: 11.87
38. TITULO: Green Eggs and Ham (Beginner Books B-16). RATING: Four. PRECIO: 10.79
39. TITULO: Counting Thyme. RATING: One. PRECIO: 10.62
40. TITULO: Are We There Yet?. RATING: Three. PRECIO: 10.66
41. TITULO: The Suffragettes (Little Black Classics, #96). RATING: Two. PRECIO: 11.89
42. TITULO: Saga, Volume 2 (Saga (Collected Editions) #2). RATING: Three. PRECIO: 11.75
43. TITULO: Fruits Basket, Vol. 2 (Fruits Basket #2). RATING: Five. PRECIO: 11.64
44. TITULO: The Complete Maus (Maus #1-2). RATING: Three. PRECIO: 10.64
Fijate que hay libros con buenos ratings!

In [43]:
# 2. Mostrar los 5 libros con mayor precio y menor rating, ordenados del más caro al menos caro
import sqlite3
conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT libros.titulo, libros.rating, libros.precio FROM libros WHERE libros.rating = 'One' ORDER BY libros.precio DESC LIMIT 5"
cursor.execute(consulta)

libros = cursor.fetchall()

print('Estos son los titulos MAS caros pero con MENOR rating')
contador = 0
for libro in libros:
    contador += 1
    print(f'{contador}. TITULO: {libro[0]}. RATING: {libro[1]}. PRECIO: {libro[2]}')

print('Que sus precios no te engañen!')

cursor.close()
conn.close()

Estos son los titulos MAS caros pero con MENOR rating
1. TITULO: Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History. RATING: One. PRECIO: 59.64
2. TITULO: The Improbability of Love. RATING: One. PRECIO: 59.45
3. TITULO: Unstuffed: Decluttering Your Home, Mind, and Soul. RATING: One. PRECIO: 58.09
4. TITULO: Miracles from Heaven: A Little Girl, Her Journey to Heaven, and Her Amazing Story of Healing. RATING: One. PRECIO: 57.83
5. TITULO: The Girl Who Kicked the Hornet's Nest (Millennium Trilogy #3). RATING: One. PRECIO: 57.48
Que sus precios no te engañen!

In [42]:
# 3. Libros de una categoría específica con rating 1 0 2, para cuando buscas algo 'malo' a propósito
import sqlite3
conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT libros.titulo, libros.rating FROM libros WHERE libros.categoria = 'Science Fiction' AND (libros.rating = 'One' OR libros.rating = 'Two')"
cursor.execute(consulta)

libros = cursor.fetchall()

print('Estos son los titulos dentro de la categoria "Science Fiction" que tienen entre 1 y 2 estrellas.')
contador = 0
for libro in libros:
    contador += 1
    print(f'{contador}. TITULO: {libro[0]}. RATING: {libro[1]}.')

print('Para cuando busques algo malo a propósito. Que lo disfrutes!')
cursor.close()
conn.close()

Estos son los titulos dentro de la categoria "Science Fiction" que tienen entre 1 y 2 estrellas.
1. TITULO: Mesaerion: The Best Science Fiction Stories 1800-1849. RATING: One.
2. TITULO: The Project. RATING: One.
3. TITULO: Soft Apocalypse. RATING: Two.
4. TITULO: Sleeping Giants (Themis Files #1). RATING: One.
5. TITULO: Foundation (Foundation (Publication Order) #1). RATING: One.
6. TITULO: The Restaurant at the End of the Universe (Hitchhiker's Guide to the Galaxy #2). RATING: One.
7. TITULO: Life, the Universe and Everything (Hitchhiker's Guide to the Galaxy #3). RATING: Two.
8. TITULO: Dune (Dune #1). RATING: One.
9. TITULO: Do Androids Dream of Electric Sheep? (Blade Runner #1). RATING: One.
10. TITULO: Three Wishes (River of Time: California #1). RATING: Two.
11. TITULO: The Last Girl (The Dominion Trilogy #1). RATING: Two.
Para cuando busques algo malo a propósito. Que lo disfrutes!

In [47]:
# 4. Categoria donde la mayoria de los libros tengan rating = 5
import sqlite3
conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT COUNT(libros.titulo), libros.categoria FROM libros WHERE libros.rating = 'Five' GROUP BY libros.categoria ORDER BY COUNT(libros.titulo) DESC LIMIT 1;"
cursor.execute(consulta)

libros = cursor.fetchall()

for libro in libros:
    print(f'La categoria con mas libros con 5 estrellas es {libro[1]}, con {libro[0]} libros en total.')
print('Para que pases a explorar esta increible categoria!!')

cursor.close()
conn.close()

La categoria con mas libros con 5 estrellas es Default, con 29 libros en total.
Para que pases a explorar esta increible categoria!!

In [49]:
# 5. Autor con mayor cantidad de libros y menor rating
import sqlite3
conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT COUNT(libros.titulo), autores.nombre_completo FROM libros_autores JOIN libros ON libros_autores.libro_id = libros.id JOIN autores ON libros_autores.autor_id = autores.id WHERE libros.rating = 'One' GROUP BY autores.nombre_completo ORDER BY COUNT(libros.titulo) DESC LIMIT 1;"
cursor.execute(consulta)

libros = cursor.fetchall()

for libro in libros:
    print(f'El autor que escribio mas libros con rating 1 es {libro[1]}, con {libro[0]} libros en total.')
print('Que penoso!')
cursor.close()
conn.close()

El autor que escribio mas libros con rating 1 es Cassandra Clare, con 3 libros en total.
Que penoso!

## Consultas con y sin indexacion

Objetivo: ver la diferencia en cuanto a como tardan

In [ ]:
# Libros de la categoria Poetry
import time
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

# Medir el tiempo SIN indexacion
inicio_tiempo = time.time()
consulta_categoria = "SELECT * FROM libros WHERE categoria = 'Poetry';"
cursor.execute(consulta_categoria)
conn.commit()
fin_tiempo = time.time()
print(f'Tiempo SIN indexacion: {fin_tiempo - inicio_tiempo} segundos')

cursor.close()
conn.close()

Tiempo SIN indexacion: 0.0017287731170654297 segundos

In [6]:
import time
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

index_categoria = "CREATE INDEX IF NOT EXISTS idx_categoria ON libros(categoria)"
index_rating = "CREATE INDEX IF NOT EXISTS idx_rating ON libros(rating)"

cursor.execute(index_categoria)
cursor.execute(index_rating)
conn.commit()

# Medir el tiempo CON indexacion
inicio_tiempo = time.time()
consulta_categoria = "SELECT * FROM libros WHERE categoria = 'Poetry';"
cursor.execute(consulta_categoria)
conn.commit()
fin_tiempo = time.time()
print(f'Tiempo CON indexacion: {fin_tiempo - inicio_tiempo} segundos')

cursor.close()
conn.close()

Tiempo CON indexacion: 0.0002143383026123047 segundos

### 2

In [ ]:
## Mostrar los autores cuyo nombre empiece con "A" y estén relacionados con algún libro.
import time
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

inicio_tiempo = time.time()
consulta = "SELECT autores.nombre_completo FROM libros_autores JOIN autores ON libros_autores.autor_id = autores.id WHERE autores.nombre_completo LIKE 'a%'"
cursor.execute(consulta)
fin_tiempo = time.time()
# autores_que_empiezan_con_a = cursor.fetchall()     # funciona
# #autores_que_empiezan_con_a = cursor.fetchmany(5)    # demostracion con 5

# contador = 0
# for autor in autores_que_empiezan_con_a:
#     contador += 1
#     print(f'{contador}. {autor}')
print(f'Tiempo SIN indexacion: {fin_tiempo - inicio_tiempo} segundos')
cursor.close()
conn.close()

Tiempo SIN indexacion: 0.0014219284057617188 segundos

In [8]:
import time
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

index_nombre = "CREATE INDEX IF NOT EXISTS idx_nombre ON autores(nombre_completo)"

cursor.execute(index_nombre)
conn.commit()

inicio_tiempo = time.time()
consulta = "SELECT autores.nombre_completo FROM libros_autores JOIN autores ON libros_autores.autor_id = autores.id WHERE autores.nombre_completo LIKE 'a%'"
cursor.execute(consulta)
fin_tiempo = time.time()
# autores_que_empiezan_con_a = cursor.fetchall()     # funciona
# #autores_que_empiezan_con_a = cursor.fetchmany(5)    # demostracion con 5

# contador = 0
# for autor in autores_que_empiezan_con_a:
#     contador += 1
#     print(f'{contador}. {autor}')
print(f'Tiempo CON indexacion: {fin_tiempo - inicio_tiempo} segundos')
cursor.close()
conn.close()

Tiempo CON indexacion: 0.0005309581756591797 segundos