In [10]:
import sqlite3
#import pandas as pd

## Sección 1: Consultas sin usar ID

In [ ]:
## EJERCICIO 1 - Listar títulos y categorías de todos los libros disponibles.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT libros.titulo, libros.categoria FROM libros"
cursor.execute(consulta)
#titulos_categoria = cursor.fetchall()
titulos_categoria = cursor.fetchmany(5)

contador = 0
for t_c in titulos_categoria:
    contador += 1
    limpio = " ".join(t_c)
    print(f'{contador} - {limpio}')

# SIEMPRE cerrar la conexion con la db
cursor.close()
conn.close()

1 - A Light in the Attic Poetry
2 - Tipping the Velvet Historical Fiction
3 - Soumission Fiction
4 - Sharp Objects Mystery
5 - Sapiens: A Brief History of Humankind History

In [ ]:
## EJERCICIO 2. Obtener los títulos de libros con precio mayor a £20.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT libros.titulo, libros.precio FROM libros WHERE libros.precio > 20"
cursor.execute(consulta)
#libros_precio_mas_de_20 = cursor.fetchall()
libros_precio_mas_de_20 = cursor.fetchmany(10)

contador = 0
for libro in libros_precio_mas_de_20:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('A Light in the Attic', 51.77)
2 ('Tipping the Velvet', 53.74)
3 ('Soumission', 50.1)
4 ('Sharp Objects', 47.82)
5 ('Sapiens: A Brief History of Humankind', 54.23)
6 ('The Requiem Red', 22.65)
7 ('The Dirty Little Secrets of Getting Your Dream Job', 33.34)
8 ('The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 22.6)
9 ('The Black Maria', 52.15)
10 ("Shakespeare's Sonnets", 20.66)

In [ ]:
## EJERCICIO 3. Mostrar los libros que están fuera de stock (no disponibles).

# Nota: ni un libro en la db esta registrado como fuera de stock
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT libros.titulo FROM libros WHERE libros.disponibilidad = 'In stock'"      # devolvera todos los libros
cursor.execute(consulta)
#libros_no_disponibles = cursor.fetchall()
libros_no_disponibles = cursor.fetchmany(5)
contador = 0

for libro in libros_no_disponibles:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('A Light in the Attic',)
2 ('Tipping the Velvet',)
3 ('Soumission',)
4 ('Sharp Objects',)
5 ('Sapiens: A Brief History of Humankind',)

In [55]:
## EJERCICIO 4. Contar cuántos libros hay por categoría.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta = "SELECT COUNT(libros.titulo), libros.categoria FROM libros GROUP BY libros.categoria"
cursor.execute(consulta)

libros_en_categorias = cursor.fetchall()

for libro in libros_en_categorias:
    print(libro)
#print(libros_en_categorias)

cursor.close()
conn.close()

(1, 'Academic')
(67, 'Add a comment')
(1, 'Adult Fiction')
(8, 'Art')
(9, 'Autobiography')
(5, 'Biography')
(12, 'Business')
(29, 'Childrens')
(3, 'Christian')
(6, 'Christian Fiction')
(19, 'Classics')
(3, 'Contemporary')
(1, 'Crime')
(1, 'Cultural')
(152, 'Default')
(1, 'Erotica')
(48, 'Fantasy')
(65, 'Fiction')
(30, 'Food and Drink')
(4, 'Health')
(2, 'Historical')
(26, 'Historical Fiction')
(18, 'History')
(17, 'Horror')
(10, 'Humor')
(13, 'Music')
(32, 'Mystery')
(6, 'New Adult')
(110, 'Nonfiction')
(1, 'Novels')
(1, 'Paranormal')
(1, 'Parenting')
(11, 'Philosophy')
(19, 'Poetry')
(3, 'Politics')
(7, 'Psychology')
(7, 'Religion')
(35, 'Romance')
(14, 'Science')
(16, 'Science Fiction')
(5, 'Self Help')
(75, 'Sequential Art')
(1, 'Short Stories')
(6, 'Spirituality')
(5, 'Sports and Games')
(1, 'Suspense')
(11, 'Thriller')
(11, 'Travel')
(17, 'Womens Fiction')
(54, 'Young Adult')

In [63]:
## EJERCICIO 5. Mostrar los títulos y nombres de autores usando un JOIN (sin mostrar los IDs).
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta ="SELECT libros.titulo, autores.nombre_completo FROM libros JOIN libros_autores ON libros.id = libros_autores.libro_id JOIN autores ON autores.id = libros_autores.autor_id"
cursor.execute(consulta)

#titulos_autores = cursor.fetchall()
titulos_autores = cursor.fetchmany(20)

contador = 0

for libro in titulos_autores:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('A Light in the Attic', 'Marie Gibson')
2 ('Tipping the Velvet', 'Sarah Waters')
3 ('Soumission', 'Michel Houellebecq')
4 ('Sharp Objects', 'Gillian Flynn')
5 ('Sapiens: A Brief History of Humankind', 'Yuval Noah Harari')
6 ('The Requiem Red', 'Edward Komara')
7 ('The Requiem Red', 'Peter Lee')
8 ('The Dirty Little Secrets of Getting Your Dream Job', 'Don Raskin')
9 ('The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 'Karen J. Hicks')
10 ('The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'Daniel James Brown')
11 ('The Black Maria', 'Aracelis Girmay')
12 ('Starving Hearts (Triangular Trade Trilogy, #1)', 'Janine Mendenhall')
13 ("Shakespeare's Sonnets", 'Jonathan F. S. Post')
14 ('Set Me Free', 'Cate Dean')
15 ("Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", "Bryan Lee O'Malley")
16 ('Rip it Up and Start Again', 'Simon Reynolds')
17 ('Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 'Michael Azerrad')
18 ('Olio', 'E. F. (Edmund Francis) Burton')
19 ('Mesaerion: The Best Science Fiction Stories 1800-1849', 'Edgar Allan Poe')
20 ('Mesaerion: The Best Science Fiction Stories 1800-1849', 'Nathaniel Hawthorne')

In [ ]:
## EJERCICIO 6. Mostrar los libros con rating igual a 'Four'.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta ="SELECT libros.titulo, libros.rating FROM libros WHERE libros.rating = 'Four'"
cursor.execute(consulta)

#libros_rating_cuatro = cursor.fetchall()       # Output: 179 libros
libros_rating_cuatro = cursor.fetchmany(10)

contador = 0
for libro in libros_rating_cuatro:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('Sharp Objects', 'Four')
2 ('The Dirty Little Secrets of Getting Your Dream Job', 'Four')
3 ('The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'Four')
4 ("Shakespeare's Sonnets", 'Four')
5 ('Wall and Piece', 'Four')
6 ('Behind Closed Doors', 'Four')
7 ('Untitled Collection: Sabbath Poems 2014', 'Four')
8 ('Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness', 'Four')
9 ('This One Summer', 'Four')
10 ('The Past Never Ends', 'Four')

In [73]:
## EJERCICIO 7. Obtener los libros que contienen la palabra "Love" en el título.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta ="SELECT libros.titulo FROM libros WHERE libros.titulo LIKE '%love%'"
cursor.execute(consulta)

libros_titulo_love = cursor.fetchall()
#libros_titulo_love = cursor.fetchmany(10)

contador = 0
for libro in libros_titulo_love:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('The Five Love Languages: How to Express Heartfelt Commitment to Your Mate',)
2 ('Without Borders (Wanderlove #1)',)
3 ('We Love You, Charlie Freeman',)
4 ('In the Country We Love: My Family Divided',)
5 ('You Are What You Love: The Spiritual Power of Habit',)
6 ('The Love and Lemons Cookbook: An Apple-to-Zucchini Celebration of Impromptu Cooking',)
7 ('Suddenly in Love (Lake Haven #1)',)
8 ('Romero and Juliet: A Tragic Tale of Love and Zombies',)
9 ('Redeeming Love',)
10 ('I Had a Nice Time And Other Lies...: How to find love & sh*t like that',)
11 ('Daring Greatly: How the Courage to Be Vulnerable Transforms the Way We Live, Love, Parent, and Lead',)
12 ('Love Is a Mix Tape (Music #1)',)
13 ('Looking for Lovely: Collecting the Moments that Matter',)
14 ('Crazy Love: Overwhelmed by a Relentless God',)
15 ('A Series of Catastrophes and Miracles: A True Story of Love, Science, and Cancer',)
16 ('The Golden Condom: And Other Essays on Love Lost and Found',)
17 ('No Love Allowed (Dodge Cove #1)',)
18 ('Love, Lies and Spies',)
19 ('The Improbability of Love',)
20 ('Lies and Other Acts of Love',)
21 ("Love That Boy: What Two Presidents, Eight Road Trips, and My Son Taught Me About a Parent's Expectations",)
22 ('Sit, Stay, Love',)
23 ('For the Love: Fighting for Grace in a World of Impossible Standards',)
24 ('The Sound Of Love',)
25 ("Talking to Girls About Duran Duran: One Young Man's Quest for True Love and a Cooler Haircut",)
26 ('Data, A Love Story: How I Gamed Online Dating to Meet My Match',)
27 ('Dark Lover (Black Dagger Brotherhood #1)',)
28 ("The Lover's Dictionary",)
29 ('The Disappearing Spoon: And Other True Tales of Madness, Love, and the History of the World from the Periodic Table of the Elements',)
30 ("In the Garden of Beasts: Love, Terror, and an American Family in Hitler's Berlin",)
31 ("Best of My Love (Fool's Gold #20)",)
32 ('The Course of Love',)
33 ('Twenty Love Poems and a Song of Despair',)
34 ('Eat, Pray, Love',)

In [77]:
## EJERCICIO 8. Mostrar el título y nombre del autor de los libros que pertenecen a la categoría “Romance”.
## EJERCICIO 7. Obtener los libros que contienen la palabra "Love" en el título.

import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta ="SELECT libros.titulo, autores.nombre_completo, libros.categoria FROM libros JOIN libros_autores ON libros.id = libros_autores.libro_id JOIN autores ON autores.id = libros_autores.autor_id WHERE libros.categoria IN ('Romance')"
cursor.execute(consulta)

titulo_autor_romance = cursor.fetchall()
#titulo_autor_romance = cursor.fetchmany(10)

contador = 0
for libro in titulo_autor_romance:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('Chase Me (Paris Nights #2)', 'Laura Florand', 'Romance')
2 ('Black Dust', 'William M. Frank', 'Romance')
3 ('Her Backup Boyfriend (The Sorensen Family #1)', 'Ashlee Mallory', 'Romance')
4 ('First and First (Five Boroughs #3)', 'United States. Congress. House. Committee on Post Office and Civil Service. Subcommittee on Postal Operations and Services', 'Romance')
5 ('Fifty Shades Darker (Fifty Shades #2)', 'E. L. James', 'Romance')
6 ('The Wedding Dress', 'Clare Gibson', 'Romance')
7 ('Suddenly in Love (Lake Haven #1)', 'Julia London', 'Romance')
8 ('Something More Than This', 'Bede Rundle', 'Romance')
9 ('Doing It Over (Most Likely To #1)', 'Kwok-bun Chan', 'Romance')
10 ('Doing It Over (Most Likely To #1)', 'Agnes Ku', 'Romance')
11 ('Doing It Over (Most Likely To #1)', 'Yin-wah Chu', 'Romance')
12 ("The Wedding Pact (The O'Malleys #2)", 'Katee Robert', 'Romance')
13 ('Hold Your Breath (Search and Rescue #1)', 'Katie Ruggle', 'Romance')
14 ('Dirty (Dive Bar #1)', 'Kylie Scott', 'Romance')
15 ('Take Me Home Tonight (Rock Star Romance #3)', 'Erika Kelly', 'Romance')
16 ('Off the Hook (Fishing for Trouble #1)', 'Laura Drewry', 'Romance')
17 ("A Gentleman's Position (Society of Gentlemen #3)", 'KJ Charles', 'Romance')
18 ('Sit, Stay, Love', 'Debbie Burns', 'Romance')
19 ("A Girl's Guide to Moving On (New Beginnings #2)", 'Debbie Macomber', 'Romance')
20 ('The Perfect Play (Play by Play #1)', 'Jaci Burton', 'Romance')
21 ('Dark Lover (Black Dagger Brotherhood #1)', 'J.R. Ward', 'Romance')
22 ('Changing the Game (Play by Play #2)', 'Jaci Burton', 'Romance')
23 ('A Walk to Remember', 'Pasquale De Marco', 'Romance')
24 ('The Purest Hook (Second Circle Tattoos #3)', 'Scarlett Cole', 'Romance')
25 ('The Obsession', 'Jesse Q. Sutanto', 'Romance')
26 ('Reservations for Two', 'Hillary Manton Lodge', 'Romance')
27 ("Best of My Love (Fool's Gold #20)", 'Susan Mallery', 'Romance')
28 ('Where Lightning Strikes (Bleeding Stars #3)', 'A. L. Jackson', 'Romance')
29 ('This One Moment (Pushing Limits #1)', 'Stina Lindenblatt', 'Romance')
30 ('Rhythm, Chord & Malykhin', 'Mel Bay', 'Romance')
31 ('My Perfect Mistake (Over the Top #1)', 'Kelly Siskind', 'Romance')
32 ('Listen to Me (Fusion #1)', 'Stephen D. Rappaport', 'Romance')
33 ('Imperfect Harmony', 'Amanda Torrey', 'Romance')
34 ('Fighting Fate (Fighting #6)', 'JB Salsbury', 'Romance')
35 ('Deep Under (Walker Security #1)', 'Lisa Renee Jones', 'Romance')
36 ("Charity's Cross (Charles Towne Belles #4)", 'MaryLu Tyndall', 'Romance')
37 ('Bounty (Colorado Mountain #7)', 'Kristen Ashley', 'Romance')

In [79]:
## EJERCICIO 9. Listar los libros cuyo precio está entre £10 y £25.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta ="SELECT libros.titulo, libros.precio FROM libros WHERE libros.precio >= 10 AND libros.precio <= 25"
cursor.execute(consulta)

#precio = cursor.fetchall()
precio = cursor.fetchmany(10)

contador = 0
for libro in precio:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('The Requiem Red', 22.65)
2 ('The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 17.93)
3 ('The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 22.6)
4 ('Starving Hearts (Triangular Trade Trilogy, #1)', 13.99)
5 ("Shakespeare's Sonnets", 20.66)
6 ('Set Me Free', 17.46)
7 ('Olio', 23.88)
8 ('In Her Wake', 12.84)
9 ("America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana", 22.5)
10 ('The Four Agreements: A Practical Guide to Personal Freedom', 17.66)

In [109]:
## EJERCICIO 10. Mostrar los 5 libros con mayor precio, ordenados del más caro al menos caro.
import sqlite3

conn = sqlite3.connect('books_data.db')
cursor = conn.cursor()

consulta ="SELECT libros.titulo, libros.precio FROM libros ORDER BY libros.precio DESC LIMIT 5"
cursor.execute(consulta)

precio = cursor.fetchall()
#precio = cursor.fetchmany(5)

contador = 0
for libro in precio:
    contador += 1
    print(f'{contador}', libro)

cursor.close()
conn.close()

1 ('The Perfect Play (Play by Play #1)', 59.99)
2 ('Last One Home (New Beginnings #1)', 59.98)
3 ('Civilization and Its Discontents', 59.95)
4 ('The Barefoot Contessa Cookbook', 59.92)
5 ('The Diary of a Young Girl', 59.9)

## Sección 2: Consultas con uso de ID

In [ ]:
## EJERCICIO 1. Mostrar el ID y título del libro cuyo ID sea mayor a 50.

In [ ]:
## EJERCICIO 2. Listar el ID y nombre del autor cuyo ID sea menor a 10.
## EJERCICIO 3. Mostrar todos los registros de la tabla libros_autores y qué relación representa cada fila (usando JOINs).
## EJERCICIO 4. Obtener todos los autores asociados al libro con ID = 5.
## EJERCICIO 5. Mostrar todos los libros asociados al autor con ID = 3.
## EJERCICIO 6. Mostrar los títulos de libros y sus IDs junto con los IDs de sus autores.
## EJERCICIO 7. Contar cuántos libros tiene cada autor.
## EJERCICIO 8. Mostrar los libros con múltiples autores.
## EJERCICIO 9. Mostrar los autores que escribieron libros en la categoría "Science".
## EJERCICIO 10. Mostrar los autores cuyo nombre empiece con "A" y estén relacionados con algún libro.